.skills
  &__list
    list-style: none
    margin-bottom: 1.3rem

    &-title
      font-size: 1.5rem
      margin-bottom: 0.2rem
      font-weight: 500

    &-content
      list-style: none

      li
        font-size: 1.3rem
        line-height: 1.8rem
