@import '../varibles'

.about-page
  height: 100vh
  background-color: $white

  &__content
    display: grid
    grid-template-columns: 50%  50%
    grid-gap: 60px
    align-content: center
    z-index: 2
